<!-- <p>
  header works!
</p> -->

<!--logo start-->
<div>
<a href="index.html" class="logo-brand">
        <img class="logo-dark" src="assets/img/logo.png" alt=""/>
        <img class="logo-light" src="assets/img/logo-white.png" alt=""/>
    </a>
    <!--logo end-->

    <!-- menu start-->
    <ul class="menuzord-menu pull-right light">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="about-us.html">About</a></li>
        <li><a href="javascript:void(0)">Services</a>
            <ul class="dropdown">
                <li><a href="merchants.html">Merchants</a></li>
                <li><a href="borrowers.html">Borrowers</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
    <!-- menu end-->
</div>