<hr>
<section class="creative-banner-1 bg-fixed parallax-bg overlay purple-7 fullscreen-banner valign-wrapper"
  data-stellar-background-ratio="0.5">
  <div class="valign-cell">
    <div class="container padding-top-160">
      <div class="text-center">
        <h1 class="intro-title text-capitalize white-text">Modernising Consumer Credit</h1>
        <span class="sub-intro lead white-text">EasyMoolah is modernising consumer credit and changing the way people
          shop. We enable customers to buy what they want today and pay over time—boosting conversion, revenue, and
          customer loyalty.</span>
        <div class="clearfix padding-bottom-20"></div>
        <a href="#." class="btn btn-lg waves-effect waves-light mt-30" style="margin-top:30px">Learn More</a>
      </div><!-- hs-content-inner -->
    </div><!-- /.container -->
  </div><!-- /.container -->
</section>


<section class="section-padding">
  <div class="container">

    <div class="text-center mb-80">
      <h2 class="section-title text-uppercase">What We Do</h2>
      <p class="section-sub">We help connect merchants and customers in one innovative solution called 'Easy Moolah'.
        Whether you are a merchant in any of the services industry; or you are a customer requiring finance in any of
        the services industries, we have the perfect solution for you.<br>Select one of the options below to learn
        more:</p>
    </div>

    <div class="row no-gutter mb-30">
      <div class="col-md-6 col-sm-6">
        <div class="featured-box border-right text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon mb-0">store</i>
              <h2>Merchants</h2>
            </div>

            <div class="content">
              <p>We help improve your cashflow by granting finance to your customers, making it easy for them to buy
                from you and for you to receive your money immediately.</p>
              <a href="#." class="btn btn-lg waves-effect waves-light mt-30" style="margin-top:30px">Learn More</a>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6 col-sm-6">
        <div class="featured-box border-right text-center hover brand-hover">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons brand-icon mb-0">person</i>
              <h2>Customers</h2>
            </div>

            <div class="content">
              <p>Our platform allows you to pick the best credit providers so you are able to pay for the services that
                you need in the services industries</p>
              <a href="#." class="btn btn-lg waves-effect waves-light mt-30" style="margin-top:30px">Learn More</a>
            </div>
          </div><!-- /.featured-wrapper -->
        </div><!-- /.featured-box  -->
      </div><!-- /.col-md-6 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<div class="promo-box newsletter_bg ptb-70">
  <div class="container">
    <div class="col-md-12">
      <div class="promo-info">
        <span class="text-uppercase">Are you ready to login/register? </span>
        <h2 class="font-30 text-bold text-uppercase no-margin">Start using our platform today</h2>
      </div>
      <div class="promo-btn">
        <a href="app/login-form.html" target="_blank" class="btn btn-lg waves-effect waves-light">begin</a>
      </div>
    </div>
  </div>
</div>
<hr>