<hr>
<!--page title start-->
<section class="page-title page-title-center cover-1 overlay purple-5 fixed-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="white-text font-40 text-bold">About Us</h2>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">About Us</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!--page title end-->


<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col s10 offset-s1">
        <div class="text-center mb-80">
          <h2 class="section-title text-uppercase">Delivering Honest Financial Products</h2>
          <h4 class="section-sub">We're a technology-driven financing solution that gives you the power to offer
            affordable financing to your customers - right at the point of sale.</h4>
          <p>We are pioneering an automated financing portal specifically created to help businesses grow. Our unique
            approach has created a true one-stop solution for your customers' financing needs, offering an affordable
            financing option that allows them to quickly purchase the goods and services they want.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-sm-50">
        <div class="featured-item feature-icon icon-hover icon-hover-brand icon-circle icon-outline">
          <div class="icon">
            <i class="material-icons colored brand-icon">person</i>
          </div>
          <div class="desc">
            <h4>Great for Customers</h4>
            <p>We give customers the flexibility to pay over time for their most important purchases, on a schedule
              that fits their budget. We've partnered up with leading lenders to provide financing that's quick,
              simple, and transparent.</p>
          </div>
        </div><!-- /.featured-item -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6 mb-sm-50">
        <div class="featured-item feature-icon icon-hover icon-hover-brand icon-circle icon-outline">
          <div class="icon">
            <i class="material-icons colored brand-icon">store</i>
          </div>
          <div class="desc">
            <h4>Great for Businesses</h4>
            <p>We stick to the same principles of honesty and simplicity with both consumers and our retail partners.
              Our integration is seamless, and we provide dedicated support to help you make the most out of our
              partnership.</p>
          </div>
        </div><!-- /.featured-item -->
      </div><!-- /.col-md-6 -->

    </div>

  </div><!-- /.container -->
</section>
<hr>